@charset "utf-8";

// Set your brand colors
$blue: #1B67B2;
$orange: #ED6C00;
$white: #fff;
$black: #444444;
$beige-light: #F7F7F7;
$beige-lighter: #EFEFEF;
$gray: #777777;

// Update Bulma's global variables
$family-sans-serif: 'Helvetica Neue', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$grey-dark: $black;
$primary: $blue;
$link: $blue;
$info: $orange;
$danger: $orange;
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.article {
  padding: 80px 20px;
}

// Update some of Bulma's component variables
$container-max-width: 830px; 
$body-background-color: $white;
$control-border-width: 2px;
$input-shadow: none;
$section-padding: 20px;
$tabs-link-color: #808080;
$button-border-width: 1px;
@import '../stylesheets/description.scss';
@import '../stylesheets/post.scss';
@import '../stylesheets/modal.scss';
@import '../stylesheets/header.scss';
@import '../stylesheets/footer.scss';
@import '../stylesheets/notification.scss';
@import '../stylesheets/user.scss';
@import '../stylesheets/tags.scss';

// Import only what you need from Bulma
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/elements/all";
@import "~bulma/sass/form/all";
@import "~bulma/sass/components/all";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/helpers/all";
@import "~bulma/sass/layout/all";

@import 'vue-toast-notification/dist/theme-sugar.css';
@import 'choices.js/public/assets/styles/choices.min.css';
