.hero {
  background: url('../../assets/images/top_bg.png');
  background-size: cover;
}

.using {
  height: 100%;
  background-color: $beige-light;
  border-style: solid;
  border-radius: 8px;
  border-color: $blue;
  border-width: 2px;
  padding: 30px;
}
