.description {
  background: url('../../assets/images/top_bg.png');
  background-size: 260px;
  padding: 120px 0px 60px 0px;
  margin-bottom: 20px;
  position: relative;
}

.top-title {
  text-align: center;
  margin-top: 24px;
  img {
    max-height: 56px;
  }
}

.top-subtitle {
  text-align: center;
  font-weight: 600;;
  font-size: 24px;
  margin-top: 10px;
}

.description-content {
  max-width: 1280px;
  padding: 40px 20px;
}

.using {
  height: 100%;
  background-color: $white;
  border-style: solid;
  border-radius: 8px;
  border-color: $blue;
  border-width: 2px;
  padding: 20px;
  overflow: auto; 
  .title {
    color: $blue;
  }
  .subtitle {
    line-height: 1.6;
  }
  img {
    float: right;
    border-radius: 8px;
  }
}

.post-button {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .description {
    padding-top: 40px;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }
  .top-title img {
    max-width: calc(100vw - 3rem);
  }
  .top-subtitle {
    font-size: 16px;
  }
  .description-content {
    padding: 20px;
    .column {
      padding: 0.25rem;
    }
  }
  .post-button button {
    min-width: calc(100vw - 2rem);
  }
}
