$navbar-breakpoint: 0px;
$navbar-background-color: none;
$navbar-item-img-max-height: 56px;

.header-log {
  width: 180px;
  height: 28px;
}

nav .navbar {
  position: absolute;
  width: 100%;
}

.signout-button {
  margin-right: 0.5rem;
  margin-bottom: 0px;
}

.sns-buttons {
  font-weight: 700;
}

.sns-buttons .google-button {
  padding: 26px 0px;
  font-size: 18px;
  min-width: 260px;
  img {
    width: 26px;
    margin-right: 6px;
  }
}

.sns-buttons .twitter-button {
  padding: 26px 0px;
  min-width: 260px;
  border: none;
  background-color: #55acee;
  color: $white;
  font-size: 18px;
  background-repeat: no-repeat;
  i {
    font-size: 26px;
    margin-right: 6px;
    color: $white;
  }
  &:hover {
    color: $white;
    background-color: #3c98e4;
  }
}

@media screen and (max-width: 767px) {
  nav .navbar {
    padding-right: 10px;
  }
}
