$modal-card-body-padding: 50px;

.post-description {
  text-align: left;
}

.modal-card {
  max-width: calc(100vw - 2rem);
  .modal-card-body {
    @media screen and (max-width: 767px) {
      padding: 16px;
    }
  }
}
