.post-tabs{
  font-weight: 700;
}

.rank-icon {
  position: relative;
  font-size: 40px;
  color: #c9c9c9;
  z-index: 0;
  margin-top: 14px;
}

.rank-number {
  position: absolute;
  font-size: 12px;
  color: $gray;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rank-crown .rank-icon {
  &.is-rank-0 {
    color: #cfbe26;
  }
  &.is-rank-1 {
    color: #c9caca;
  }
  &.is-rank-2 {
    color: #cd985e;
  }
  .rank-number {
    color: $white;
    margin-top: 6px;
  }
}

.sub-title {
  font-size: 14px;
  margin-top: -20px;
  .sub-title-text {
    color: $black;
  }
}

.post-image {
  .image {
    object-fit: contain;
  }
  img[src*='logo_picks'] {
    filter: grayscale(100%);
    background: #c9c9c9;
    padding: 10px;
    opacity: .6;
    border-radius: 8px;
  }
}

.comment-link {
  color: $gray;
}

.has-comment {
  color: $orange;
}

.post_comments_count {
  text-align: center;
  color: $black;
}

.post-list {
  display: flex;
  column-gap: 10px;
  margin-top: 4px;
}

.post {
  position: relative;
  .title {
    line-height: 1.5;
    cursor: pointer;
    :hover {
      color: #1178de;
      text-decoration: underline;
    }
  }
  .title,
  .like-button,
  .comment-link {
    position: relative;
    z-index: 5;
  }
}

.post .card-link {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.card-link:hover {
  background-color: $blue;
  opacity: 0.2;
  border-radius: 4px;
  background-image: linear-gradient(45deg,#fff 50%,hsla(0,0%,100%,0));
}

.post-separator {
  margin: 12px 0;
}

.media .media-right {
  margin: 6px 0px 0px 12px;
  i {
    font-size: 28px;
  }
}

.comments {
  margin: 30px 0 0 30px;
}

.link-button {
  color: white
}

.like-button {
  cursor: pointer;
}

.show-post {
  margin-top: 30px;
}