.post-tabs{
  font-weight: 700;
}

.rank-icon {
  position: relative;
  font-size: 40px;
  color: #c9c9c9;
  z-index: 0;
  margin-top: 14px;
}

.rank-number {
  position: absolute;
  font-size: 12px;
  color: $gray;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rank-crown .rank-icon {
  &.is-rank-0 {
    color: #cfbe26;
  }
  &.is-rank-1 {
    color: #c9caca;
  }
  &.is-rank-2 {
    color: #cd985e;
  }
  .rank-number {
    color: $white;
    margin-top: 6px;
  }
}

.sub-title {
  font-size: 14px;
  margin-top: -20px;
}

.post-tags {
  margin: 2px;
  .post-tag {
    color: $white;
    border-radius: 6px;
    background-color: $orange;
    border: 1px solid $white;
    font-size: 12px;
    padding: 2px;
  }
}

.post-image {
  .image {
    object-fit: contain;
    border-radius: 8px;
  }
  :hover {
    box-shadow: $orange 0 0 0 2px;
    transition: all .2s ease-out;
    opacity: 0.8;
  }
  img[src*='logo_picks'] {
    filter: grayscale(100%);
    background: #c9c9c9;
    padding: 10px;
    opacity: .6;
  }
}

.comment-link {
  a {
    color: #c9c9c9;
  }
  :hover {
    transition: all .2s ease-out;
    color: #ff9800;
    opacity: 0.8;
  }
  .post_comments_count {
    text-align: center;
    color: $black;
  }
}

.has-comment a {
  color: $orange;
}

.post-list {
  display: flex;
  column-gap: 10px;
  margin-top: 4px;
}

.post {
  position: relative;
  .title {
    line-height: 1.5;
    cursor: pointer;
    :hover {
      color: #1178de;
      text-decoration: underline;
    }
  }
  .title,
  .like-button,
  .comment-link {
    position: relative;
    z-index: 5;
  }
}

.post .card-link {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.post-separator {
  margin: 12px 0;
}

.media .media-right {
  i {
    font-size: 28px;
  }
}

.comments {
  margin: 30px 0 0 30px;
}

.like-button {
  color: $orange;
  cursor: pointer;
  :hover {
    transition: all .2s ease-out;
    color: #ff9800;
    opacity: 0.8;
  }
}

.new-post-image {
  img {
    object-fit: contain;
    height: 160px;
  }
  img[src*='logo_picks'] {
    filter: grayscale(100%);
    background: #c9c9c9;
    padding: 10px;
    opacity: .6;
  }
}

.search-post {
  padding: 10px;
  input {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .search-post {
    input {
      width: 100%;
    }
  }
}
