.profile {
  margin-bottom: 20px;
}

.profile-button {
  a {
    color: $black;
  }
}

.tabs.is-boxed {
  a {
    font-weight: 700;
    padding: 12px;
  }
  i {
    margin-right: 6px;
  }
}

.tab-contents .content {
  display: none;
  &.is-active {
    display: block;
  }
}

.delete-button {
  cursor: pointer;
}

.select-icons {
  display: flex;
  text-align: center;
  gap: 15px;
  margin-bottom: 15px;
}

.select-icon {
  padding: 10px;
  cursor: pointer;
  background-color: $beige-light;
  border: solid 1px $beige-lighter;
}

.select-icon .image, input[type='radio'] {
  cursor: pointer;
}
