# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Set Timezone
      uses: szenius/set-timezone@v1.0
      with:
        timezoneLinux: "Asia/Tokyo"
    
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@ï½–1
      with:
        ruby-version: '3.1.0'
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: yarn install
      run: yarn install

    - name: DB setup
      run: bundle exec rails db:setup

    - name: RSpec
      run: bundle exec rspec
